Buscar un conjunto de datos a analizar:
# House Data Sales

In [1]:
import pandas as pd
import numpy as np
import pickle
import os

In [2]:
os.getcwd()

'/mnt/c/Users/Usuario/Desktop/pairs_modulo_2/promo-d-da-modulo2-sprint1-laura-paula-estibaliz'

In [4]:
df_train = pd.read_csv("datos/train.csv")
df_train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [8]:
homogenizar_columnas = {col: col.lower().replace(" ", "_") for col in df_train}
df_train.rename(columns = homogenizar_columnas, inplace = True)
df_train.head()

,id,mssubclass,mszoning,lotfrontage,lotarea,street,alley,lotshape,landcontour,utilities,...,poolarea,poolqc,fence,miscfeature,miscval,mosold,yrsold,saletype,salecondition,saleprice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

# Extraer los siguentes estadÃ­siticos del conjunto de datos para varias de las variables disponibles:

# Media

In [22]:
df_train["saleprice"].mean()

10516.828082191782

# DesviaciÃ³n con respecto de la media

In [10]:
media = df_train["saleprice"].mean()
print(media)

180921.19589041095

In [11]:
diferencias = df_train["saleprice"] - media
print(diferencias)

0       27578.80411
1         578.80411
2       42578.80411
3      -40921.19589
4       69078.80411
           ...
1455    -5921.19589
1456    29078.80411
1457    85578.80411
1458   -38796.19589
1459   -33421.19589
Name: saleprice, Length: 1460, dtype: float64

In [12]:
desviacion_media = np.abs(diferencias)
print(desviacion_media)

0       27578.80411
1         578.80411
2       42578.80411
3       40921.19589
4       69078.80411
           ...
1455     5921.19589
1456    29078.80411
1457    85578.80411
1458    38796.19589
1459    33421.19589
Name: saleprice, Length: 1460, dtype: float64

# Varianza

In [13]:
df_train["saleprice"].var()

6311111264.297451

# DesviaciÃ³n tÃ­pica

In [14]:
df_train["saleprice"].std()

79442.50288288663

# Moda

In [25]:
df_train["saleprice"].mode()[0]

140000

# Mediana

In [16]:
df_train["saleprice"].median()

163000.0

# Media ponderada

In [20]:
np.random.randint(0,100, df_train.shape[0])

array([85, 20, 42, ..., 76, 68, 96])

# Robustez

# Coeficiente de variaciÃ³n

In [18]:
df_train["saleprice"].std()/df_train["saleprice"].mean()

0.4391000318780072

# Sale Price

In [26]:
print(df_train['saleprice'].mean())
print(df_train['saleprice'].median())
print(df_train['saleprice'].mode()[0])
print(df_train['saleprice'].max())
print(df_train['saleprice'].min())
print(df_train['saleprice'].std())
print(df_train['saleprice'].var())
df_train['saleprice'].std()/df_train['saleprice'].mean()

180921.19589041095
163000.0
140000
755000
34900
79442.50288288663
6311111264.297451

0.4391000318780072

# Lot Area

In [24]:
print(df_train['lotarea'].mean())
print(df_train['lotarea'].median())
print(df_train['lotarea'].mode()[0])
print(df_train['lotarea'].max())
print(df_train['lotarea'].min())
print(df_train['lotarea'].std())
print(df_train['lotarea'].var())
df_train['lotarea'].std()/df_train['lotarea'].mean()

10516.828082191782
9478.5
7200
215245
1300
9981.264932379147
99625649.6503417

0.9490756009676047