- Es el momento de ponernos manos a la obra con la visualizaci칩n de datos. En este primer ejercicio de pair programming trabajaremos con los csv que generamos en el ejercicio de pair programming de Pandas III, ese en el que hab칤amos eliminado algunas columnas de nuestro csv.
Hoy realizaremos una serie de gr치ficas usando la librer칤a de matplotlib para familiarizarnos un poco con los datos.

游늷 Para poder solucionar los ejercicios de hoy no solo tendremos que visualizar, tambi칠n tendremos que usar m칠todos que hemos aprendido en lecciones anteriores de Pandas como por ejemplo value_counts(), isnull, describe, etc.
Tendr칠is que realizar gr치ficas para contestar a las siguientes preguntas:

In [1]:
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df_2016 = pd.read_excel("datos/2016_pandasIII.xlsx")
df_2016.head()

,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0

1. 쮺u치ntos tickets tenemos de cada tipo?

In [3]:
df_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13051 entries, 0 to 13050
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_ticket        13050 non-null  object
 1   fecha            13025 non-null  datetime64[ns]
 2   id_empleado      13049 non-null  float64
 3   id_agente        13050 non-null  float64
 4   categor칤a        13038 non-null  object
 5   tipo             13050 non-null  object
 6   severidad        13025 non-null  object
 7   prioridad        13025 non-null  object
 8   d칤as_resoluci칩n  13049 non-null  float64
 9   satisfacci칩n     13037 non-null  float64
dtypes: datetime64[ns](1), float64(4), object(5)
memory usage: 1019.7+ KB

In [4]:
# los valores unicos de cada tipo
df_2016['tipo'].value_counts()

Solicitud    9756
Problema     3294
Name: tipo, dtype: int64

2. 쮺u치l es el porcentaje de nulos por columna? Usa un pie chart donde incluy치is el porcentaje de cada variable en el interior del quesito. Para eso tendr칠is que usar el par치metro autopct, aqu칤 algo de documentaci칩n.

In [5]:
#porcentaje de nulos 
porcentaje_nulos = df_2016.isnull().sum()/df_2016.shape[0]*100
porcentaje_nulos

id_ticket          0.007662
fecha              0.199218
id_empleado        0.015324
id_agente          0.007662
categor칤a          0.099609
tipo               0.007662
severidad          0.199218
prioridad          0.199218
d칤as_resoluci칩n    0.015324
satisfacci칩n       0.107271
dtype: float64

In [6]:
df_nulos = pd.DataFrame(porcentaje_nulos)
df_nulos

                        0
id_ticket        0.007662
fecha            0.199218
id_empleado      0.015324
id_agente        0.007662
categor칤a        0.099609
tipo             0.007662
severidad        0.199218
prioridad        0.199218
d칤as_resoluci칩n  0.015324
satisfacci칩n     0.107271

In [7]:
df_reset = df_nulos.reset_index()
df_reset

             index         0
0        id_ticket  0.007662
1            fecha  0.199218
2      id_empleado  0.015324
3        id_agente  0.007662
4        categor칤a  0.099609
5             tipo  0.007662
6        severidad  0.199218
7        prioridad  0.199218
8  d칤as_resoluci칩n  0.015324
9     satisfacci칩n  0.107271

In [8]:
df_reset.columns

Index(['index', 0], dtype='object')

In [9]:
# grafico tarta
# for col in df_reset.columns[:]:
    # plt.figure()
    # plt.pie(df_reset[col], labels= df_reset[col])
    # plt.show()

3. Filtrad los datos para quedarnos solo con los datos de la categor칤a "Software".
   
- Dentro del conjunto de datos filtrado que acabamos de generar, realiza la mejor visualizaci칩n para mostrar cuantos tickets tenemos de cada tipo que tenemos (Problema o Solicitud).
   
- Usando el mismo conjunto de datos filtrado, 쯘xiste alguna relaci칩n entre la satisfacci칩n y los d칤as de resoluci칩n?. Poned los nombres de los ejes, siendo el eje x los "d칤as de resoluci칩n" y el eje y la "satisfacci칩n".
   
- Usando el mismo conjunto de datos filtrado, 쯖u치l es la frecuencia de cada una de las satisfacciones que tenemos en el conjunto de datos?

In [10]:
df_2016.head(10)

,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0
5,GDLEER-0142608095,2016-08-26,59.0,20.0,Software,Problema,2 - Normal,0 - Sin Asignar,1.0,1.0
6,GDLEER-0242564650,2016-07-13,1175.0,36.0,Software,Problema,2 - Normal,0 - Sin Asignar,2.0,1.0
7,GDLEER-0542574815,2016-07-23,561.0,18.0,Software,Problema,2 - Normal,0 - Sin Asignar,5.0,5.0
8,GDLEER-0842457219,2016-03-28,71.0,12.0,Software,Problema,2 - Normal,0 - Sin Asignar,8.0,5.0
9,GDLEER-1242542213,2016-06-21,1831.0,42.0,Software,Problema,2 - Normal,0 - Sin Asignar,2.0,5.0

In [11]:
# queremos solo los datos de la categor칤a software

df_categor칤a = df_2016[df_2016["categor칤a"] == 'Software']
df_categor칤a

,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0
5,GDLEER-0142608095,2016-08-26,59.0,20.0,Software,Problema,2 - Normal,0 - Sin Asignar,1.0,1.0
6,GDLEER-0242564650,2016-07-13,1175.0,36.0,Software,Problema,2 - Normal,0 - Sin Asignar,2.0,1.0
7,GDLEER-0542574815,2016-07-23,561.0,18.0,Software,Problema,2 - Normal,0 - Sin Asignar,5.0,5.0
8,GDLEER-0842457219,2016-03-28,71.0,12.0,Software,Problema,2 - Normal,0 - Sin Asignar,8.0,5.0
...,...,...,...,...,...,...,...,...,...,...
13020,TWREER-3542682716,2016-11-08,411.0,37.0,Software,Problema,1 - Menor,1 - Baja,5.0,5.0
13022,TWREER-4142552705,2016-07-01,1680.0,27.0,Software,Problema,3 - Mayor,1 - Baja,1.0,5.0
13034,TWRTER-2042528927,2016-06-07,462.0,19.0,Software,Solicitud,1 - Menor,1 - Baja,10.0,4.0
13036,TWRTER-8742418826,2016-02-18,942.0,28.0,Software,Solicitud,1 - Menor,1 - Baja,7.0,5.0
13037,TWRTER-9542402645,2016-02-02,334.0,26.0,Software,Solicitud,1 - Menor,1 - Baja,5.0,5.0

In [12]:
df_tipo = df_2016[df_2016["tipo"].isin(["Solicitud", "Problema"])]
df_tipo

,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0
...,...,...,...,...,...,...,...,...,...,...
13046,TWRTSR-6442574526,2016-07-23,962.0,25.0,Sistema,Solicitud,1 - Menor,1 - Baja,14.0,4.0
13047,TWRTSR-7142570866,2016-07-19,126.0,38.0,Sistema,Solicitud,3 - Mayor,1 - Baja,13.0,5.0
13048,TWRTSR-7742498308,2016-05-08,510.0,3.0,Sistema,Solicitud,3 - Mayor,1 - Baja,2.0,5.0
13049,TWRTSR-8642558628,2016-07-07,1942.0,26.0,Sistema,Solicitud,1 - Menor,1 - Baja,16.0,4.0
13050,TWRTSR-8742628897,2016-09-15,919.0,8.0,Sistema,Solicitud,1 - Menor,1 - Baja,7.0,4.0

In [13]:
# plt.figure()
# plt.scatter(df_categoria['Software'], df_tipo['Solicitud', 'Problema'])
# plt.xlabel('categoria')
# plt.ylabel('tipo')
# plt.show

In [15]:
plt.figure()
plt.bar(df_2016['tipo'], df_2016['categoria'])
plt.show()

KeyError: 'categoria'

In [16]:
plt.figure()
plt.scatter(df_2016["categoria"],df_2016["tipo"])

# establecemos el nombre del eje x
plt.xlabel("petal_length")

# establecemos el nombre del eje y
plt.ylabel("petal_width")

# mostramos la gr치fica
plt.show()

KeyError: 'categoria'