### En este ejercicio pondremos en práctica los conceptos básicos para juntar varios csv que compartan información.  - En pairs anteriores habíamos explorado algunos conjuntos de datos, estos conjuntos de datos eran:###
  

- El csv que creamos en el ejercicio de pair programming Pandas IV, dónde recordamos eliminamos ciertas columnas que no eran necesarias, y habíamos creado nuevas.
- El csv llamado Empleados donde tenemos información sobre los empleados de la empresa, este fichero lo tenéis un poco mas abajo para descargar.
- El csv llamado Puestos donde tenemos información sobre los puestos que hay en la empresa y que departamento pertencen.
- El csv llamado Agentes donde tenemos información sobre los puestos que hay en la empresa y que departamento pertencen.
  
El principal objetivo de este ejercicio de pair programming es acabar teniendo un único DataFrame con toda la información contenida en los tres csv anteriores.

In [15]:
import pandas as pd

In [16]:
df_2016 = pd.read_excel("datos/2016_pandasIII.xlsx")
df_2016.head()

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0

In [17]:
df_2017 = pd.read_excel("datos/2017.xlsx")
df_2017.head()

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción
0,GDDEER-8142900901,2017-06-14,1200.0,29.0,Software,Problema,0 - Sin Clasificar,0 - Sin Asignar,1.0,5.0
1,GDDEST-7342745152,2017-01-10,1855.0,31.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0
2,GDLEER-0042906431,2017-06-20,233.0,34.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0
3,GDLEER-0042997167,2017-09-19,996.0,21.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0
4,GDLEER-0142746832,2017-01-11,1113.0,48.0,Software,Problema,2 - Normal,0 - Sin Asignar,1.0,5.0

In [18]:
df_2018 = pd.read_excel("datos/2018.xlsx")
df_2018.head()

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción
0,GDDEER-9743106195,2018-01-06,759.0,21.0,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,7.0,5.0
1,GDDENR-9043229214,2018-05-09,521.0,2.0,Acceso-&Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
2,GDDENT-9043303547,2018-07-22,1564.0,45.0,Acceso-&Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,1.0
3,GDDESR-1243421724,2018-11-17,32.0,27.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,2.0,5.0
4,GDDESR-8843106588,2018-01-06,1928.0,45.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,8.0,5.0

In [19]:
df_2019 = pd.read_excel("datos/2019.xlsx")
df_2019.head()

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción
0,GDDEER-5743562837,2019-04-07,1833.0,48.0,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,7.0,5.0
1,GDDEER-6043685286,2019-08-08,528.0,32.0,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,10.0,5.0
2,GDDEET-7743705549,2019-08-28,654.0,45.0,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,7.0,1.0
3,GDDENR-1043755533,2019-10-17,243.0,15.0,Acceso99Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
4,GDDESR-9243800417,2019-12-01,601.0,34.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,2.0,5.0

In [20]:
df_2020 = pd.read_excel("datos/2020.xlsx")
df_2020.head()

,ID Ticket,Fecha,Tipo,Categoría,ID Empleado,ID Agente,Severidad,Prioridad,Días Resolución,Satisfacción
0,GDDENR-6044135832,2020-10-31,Problema,Acceso/Login,773.0,48.0,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
1,GDDESR-1444031730,2020-07-19,Problema,Sistema,613.0,17.0,0 - Sin Clasificar,0 - Sin Asignar,4.0,5.0
2,GDDESR-3244128887,2020-10-24,Problema,Sistema,1508.0,8.0,0 - Sin Clasificar,0 - Sin Asignar,2.0,1.0
3,GDDESR-4443972026,2020-05-21,Problema,Sistema,1192.0,20.0,0 - Sin Clasificar,0 - Sin Asignar,4.0,5.0
4,GDDESR-9044014744,2020-07-02,Problema,Sistema,1224.0,7.0,0 - Sin Clasificar,0 - Sin Asignar,10.0,5.0

In [21]:
df_puestos = pd.read_excel("datos/Puestos.xlsx")
df_puestos.head()

  ID Puesto                            Puesto Departamento     Tipo Puesto
0  10-23200           Ingeniero de Materiales   MATERIALES       Operativo
1  10-24111            Operador de Producción   MATERIALES       Operativo
2  10-25120               Auxiliar de compras   MATERIALES  Administrativo
3  10-25130                         Comprador   MATERIALES  Administrativo
4  10-32050  Supervisor General de Materiales   MATERIALES   Mandos Medios

In [22]:
df_agentes = pd.read_csv("datos/Agentes.csv")
df_agentes.head()

,ID Agente,Nombre,email,Fecha de Nacimiento
0,1,Mata Lucero,lucero.mata@tractchun.com,1989/4/28
1,2,JesusGrajeda,jesus.grajeda@tractchun.com,1979/1/1
2,3,Elena Velez,elena.velez@tractchun.com,1993/6/6
3,4,Barraza Alberto,alberto.barraza@tractchun.com,1978/10/20
4,5,Willyberto Gonzales,willyberto.gonzales@tractchun.com,1973/5/11

In [23]:
df_empleados = pd.read_csv("datos/Empleados2.csv")
df_empleados.head()

,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email
0,A,6,VILLA,JESUS,50-32200,jesus.villa@tractchun.com
1,NaN,10,MENDEZ,RICARDO,15-24100,ricardo.mendez@tractchun.com
2,NaN,21,HEREDIA,GUADALUPE,90-14000,guadalupe.heredia@tractchun.com
3,NaN,27,DURAN,DESSENS,15-24100,dessens.duran@tractchun.com
4,NaN,29,LAGUNA,FEDERICO,80-24100,federico.laguna@tractchun.com

- Antes de empezar, deberéis crear una columna nueva en los dataframes de 2016.xlsx, 2017.xlsx, 2018.xlsx, 2019.xlsx, 2020.xlsx que contenga los valores del año al que corresponden.

- Para llevar a cabo nuestro objetivo tendréis que seguir los siguientes pasos:

In [24]:
df_2016["año"] = ("2016")

df_2016.head()

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,año
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2016
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2016
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,2016
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,2016
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,2016

In [25]:
df_2017["año"] = ("2017")

df_2017.head()

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,año
0,GDDEER-8142900901,2017-06-14,1200.0,29.0,Software,Problema,0 - Sin Clasificar,0 - Sin Asignar,1.0,5.0,2017
1,GDDEST-7342745152,2017-01-10,1855.0,31.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,2017
2,GDLEER-0042906431,2017-06-20,233.0,34.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,2017
3,GDLEER-0042997167,2017-09-19,996.0,21.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,2017
4,GDLEER-0142746832,2017-01-11,1113.0,48.0,Software,Problema,2 - Normal,0 - Sin Asignar,1.0,5.0,2017

In [26]:
df_2018["año"] = ("2018")

df_2018.head()

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,año
0,GDDEER-9743106195,2018-01-06,759.0,21.0,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,7.0,5.0,2018
1,GDDENR-9043229214,2018-05-09,521.0,2.0,Acceso-&Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2018
2,GDDENT-9043303547,2018-07-22,1564.0,45.0,Acceso-&Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,1.0,2018
3,GDDESR-1243421724,2018-11-17,32.0,27.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,2.0,5.0,2018
4,GDDESR-8843106588,2018-01-06,1928.0,45.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,8.0,5.0,2018

In [27]:
df_2019["año"] = ("2019")

df_2019.head()

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,año
0,GDDEER-5743562837,2019-04-07,1833.0,48.0,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,7.0,5.0,2019
1,GDDEER-6043685286,2019-08-08,528.0,32.0,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,10.0,5.0,2019
2,GDDEET-7743705549,2019-08-28,654.0,45.0,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,7.0,1.0,2019
3,GDDENR-1043755533,2019-10-17,243.0,15.0,Acceso99Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2019
4,GDDESR-9243800417,2019-12-01,601.0,34.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,2.0,5.0,2019

In [28]:
df_2020["año"] = ("2020")

df_2020.head()

,ID Ticket,Fecha,Tipo,Categoría,ID Empleado,ID Agente,Severidad,Prioridad,Días Resolución,Satisfacción,año
0,GDDENR-6044135832,2020-10-31,Problema,Acceso/Login,773.0,48.0,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2020
1,GDDESR-1444031730,2020-07-19,Problema,Sistema,613.0,17.0,0 - Sin Clasificar,0 - Sin Asignar,4.0,5.0,2020
2,GDDESR-3244128887,2020-10-24,Problema,Sistema,1508.0,8.0,0 - Sin Clasificar,0 - Sin Asignar,2.0,1.0,2020
3,GDDESR-4443972026,2020-05-21,Problema,Sistema,1192.0,20.0,0 - Sin Clasificar,0 - Sin Asignar,4.0,5.0,2020
4,GDDESR-9044014744,2020-07-02,Problema,Sistema,1224.0,7.0,0 - Sin Clasificar,0 - Sin Asignar,10.0,5.0,2020


1. Cargad los siete ficheros nombrados anteriormente y los exploramos para familizarizarnos con ellos y saber que información tienen en común y debatir entre vosotras como podríamos juntar toda la información.

2. Chequead que los nombres de las columnas y ver si se llaman iguales entre dataframes. ¿Están todas en minúsculas? ¿Tienen espacios? En caso de que no sea así homogeneizar los nombres de las columnas para que todos los dataframes tengan el mismo formato.

- Hemos revisado las columnas y los datos en general que tenemos y hemos visto que las columnas tienen mayúsculas y espacios que vamos a reemplazar con una funcion.

In [30]:
def cambio_columnas(df):
    cols = {col: col.replace(" ", "_").lower() for col in df.columns}
    df.rename(columns=cols, inplace=True)
    display(df.head())

In [43]:
cambio_columnas(df_2017)
cambio_columnas(df_2018)
cambio_columnas(df_2019)
cambio_columnas(df_2020)
cambio_columnas(df_puestos)
cambio_columnas(df_empleados)
cambio_columnas(df_agentes)

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,año
0,GDDEER-8142900901,2017-06-14,1200.0,29.0,Software,Problema,0 - Sin Clasificar,0 - Sin Asignar,1.0,5.0,2017
1,GDDEST-7342745152,2017-01-10,1855.0,31.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,2017
2,GDLEER-0042906431,2017-06-20,233.0,34.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,2017
3,GDLEER-0042997167,2017-09-19,996.0,21.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,2017
4,GDLEER-0142746832,2017-01-11,1113.0,48.0,Software,Problema,2 - Normal,0 - Sin Asignar,1.0,5.0,2017

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,año
0,GDDEER-9743106195,2018-01-06,759.0,21.0,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,7.0,5.0,2018
1,GDDENR-9043229214,2018-05-09,521.0,2.0,Acceso-&Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2018
2,GDDENT-9043303547,2018-07-22,1564.0,45.0,Acceso-&Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,1.0,2018
3,GDDESR-1243421724,2018-11-17,32.0,27.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,2.0,5.0,2018
4,GDDESR-8843106588,2018-01-06,1928.0,45.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,8.0,5.0,2018

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,año
0,GDDEER-5743562837,2019-04-07,1833.0,48.0,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,7.0,5.0,2019
1,GDDEER-6043685286,2019-08-08,528.0,32.0,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,10.0,5.0,2019
2,GDDEET-7743705549,2019-08-28,654.0,45.0,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,7.0,1.0,2019
3,GDDENR-1043755533,2019-10-17,243.0,15.0,Acceso99Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2019
4,GDDESR-9243800417,2019-12-01,601.0,34.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,2.0,5.0,2019

,id_ticket,fecha,tipo,categoría,id_empleado,id_agente,severidad,prioridad,días_resolución,satisfacción,año
0,GDDENR-6044135832,2020-10-31,Problema,Acceso/Login,773.0,48.0,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2020
1,GDDESR-1444031730,2020-07-19,Problema,Sistema,613.0,17.0,0 - Sin Clasificar,0 - Sin Asignar,4.0,5.0,2020
2,GDDESR-3244128887,2020-10-24,Problema,Sistema,1508.0,8.0,0 - Sin Clasificar,0 - Sin Asignar,2.0,1.0,2020
3,GDDESR-4443972026,2020-05-21,Problema,Sistema,1192.0,20.0,0 - Sin Clasificar,0 - Sin Asignar,4.0,5.0,2020
4,GDDESR-9044014744,2020-07-02,Problema,Sistema,1224.0,7.0,0 - Sin Clasificar,0 - Sin Asignar,10.0,5.0,2020

  id_puesto                            puesto departamento     tipo_puesto
0  10-23200           Ingeniero de Materiales   MATERIALES       Operativo
1  10-24111            Operador de Producción   MATERIALES       Operativo
2  10-25120               Auxiliar de compras   MATERIALES  Administrativo
3  10-25130                         Comprador   MATERIALES  Administrativo
4  10-32050  Supervisor General de Materiales   MATERIALES   Mandos Medios

,turno,id_empleado,apellido,nombre,id_puesto,email
0,A,6,VILLA,JESUS,50-32200,jesus.villa@tractchun.com
1,NaN,10,MENDEZ,RICARDO,15-24100,ricardo.mendez@tractchun.com
2,NaN,21,HEREDIA,GUADALUPE,90-14000,guadalupe.heredia@tractchun.com
3,NaN,27,DURAN,DESSENS,15-24100,dessens.duran@tractchun.com
4,NaN,29,LAGUNA,FEDERICO,80-24100,federico.laguna@tractchun.com

,id_agente,nombre,email,fecha_de_nacimiento
0,1,Mata Lucero,lucero.mata@tractchun.com,1989/4/28
1,2,JesusGrajeda,jesus.grajeda@tractchun.com,1979/1/1
2,3,Elena Velez,elena.velez@tractchun.com,1993/6/6
3,4,Barraza Alberto,alberto.barraza@tractchun.com,1978/10/20
4,5,Willyberto Gonzales,willyberto.gonzales@tractchun.com,1973/5/11

3. En este momento nos habremos dado cuenta que el DataFrame que generamos en el pair programming Pandas IV es similar al DataFrame de los datos históricos (2017.xlsx, 2018.xlsx, 2019.xlsx, 2020.xlsx). Si recordamos, eliminamos algunas columnas en la sesión III que no eran útiles, tendréis que ver si esas columnas están en los dataframes nuevos, si es así eliminarlas. Por lo tanto, realizad los cambios que creáis necesarios para que los dataframes sean iguales y luego juntadlos usando el mejor método.

- Las columnas 'web' e 'indice' son las que había que eliminar.

4. Es el momento de unir la información de todos los puestos y los empleados. Debatid que método es el más correcto para unir toda esta información y ejecutadlo.

In [44]:
df_puestos.head()

  id_puesto                            puesto departamento     tipo_puesto
0  10-23200           Ingeniero de Materiales   MATERIALES       Operativo
1  10-24111            Operador de Producción   MATERIALES       Operativo
2  10-25120               Auxiliar de compras   MATERIALES  Administrativo
3  10-25130                         Comprador   MATERIALES  Administrativo
4  10-32050  Supervisor General de Materiales   MATERIALES   Mandos Medios

In [45]:
df_empleados.head()

,turno,id_empleado,apellido,nombre,id_puesto,email
0,A,6,VILLA,JESUS,50-32200,jesus.villa@tractchun.com
1,NaN,10,MENDEZ,RICARDO,15-24100,ricardo.mendez@tractchun.com
2,NaN,21,HEREDIA,GUADALUPE,90-14000,guadalupe.heredia@tractchun.com
3,NaN,27,DURAN,DESSENS,15-24100,dessens.duran@tractchun.com
4,NaN,29,LAGUNA,FEDERICO,80-24100,federico.laguna@tractchun.com

In [52]:
df_puestos_empleados = df_puestos.merge(df_empleados, on='id_puesto')
df_puestos_empleados.sample(10)

,id_puesto,puesto,departamento,tipo_puesto,turno,id_empleado,apellido,nombre,email
106,10-32110,Almacenista,MATERIALES,Administrativo,NaN,892,PEREZ,EDUARDO,eduardo.perez@tractchun.com
1487,70-21110,Entrenamiento,Recursos Humanos,Administrativo,NaN,786,MARTINEZ,AARON,aaron.martinez@tractchun.com
1228,55-23200,Ingeniero de Manufactura,INGENIERIA DE MANUFACTURA,Operativo,NaN,536,VELARDE,ALFONSO,alfonso.velarde@tractchun.com
1385,55-23200,Ingeniero de Manufactura,INGENIERIA DE MANUFACTURA,Operativo,NaN,1201,SALAZAR,FRANCISCO,francisco.salazar@tractchun.com
822,30-16000,Supervisor General de Areas,"AUDITORIA INTERNA, CALIBRACION Y METROLOGIA",Mandos Medios,NaN,1017,VILLANES,ORENCIO,orencio.villanes@tractchun.com
1955,90-14100,Ingeniero de Calidad,INGENIERIA DE CALIDAD,Operativo,NaN,1969,TREJO,CORONEL,coronel.trejo@tractchun.com
794,30-13310,Técnico de calibración y metrología,"AUDITORIA INTERNA, CALIBRACION Y METROLOGIA",Operativo,NaN,982,PORRAS,SANCHEZ,sanchez.porras@tractchun.com
563,15-24100,Supervisor de Producción,PRODUCCION,Mandos Medios,NaN,1755,BARRIOS,LEON,leon.barrios@tractchun.com
1504,70-21120,Auxiliar de Recursos Humanos,Recursos Humanos,Administrativo,NaN,1109,HEREDIA,MIRAMON,miramon.heredia@tractchun.com
1714,80-22220,Ingeniero de Procesos,MANTENIMIENTO,Operativo,NaN,1212,MORENO,FERNANDEZ,fernandez.moreno@tractchun.com

In [53]:
# hacemos un concta para los xlsx de los años.

df_años = pd.concat([df_2016, df_2017, df_2018, df_2019, df_2020], axis=0)
df_años.sample(10)

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,año
14859,SHLTSR-0943502749,2019-02-06,1384.0,7.0,Sistema,Solicitud,2 - Normal,3 - Alta,9.0,4.0,2019
12458,TDLTNR-5042799720,2017-03-05,52.0,7.0,Acceso%&Login,Solicitud,2 - Normal,0 - Sin Asignar,0.0,4.0,2017
2317,GHLTST-3742371339,2016-01-02,1523.0,33.0,Sistema,Solicitud,2 - Normal,3 - Alta,7.0,5.0,2016
14711,TWLTNR-7042866539,2017-05-11,63.0,35.0,Acceso%&Login,Solicitud,2 - Normal,1 - Baja,0.0,4.0,2017
5317,KHLESR-9642551474,2016-06-30,27.0,14.0,Sistema,Problema,2 - Normal,3 - Alta,6.0,3.0,2016
7037,KDLTER-5443497601,2019-02-01,170.0,26.0,Software,Solicitud,2 - Normal,0 - Sin Asignar,4.0,4.0,2019
5582,GWLESR-7143775582,2019-11-06,178.0,35.0,Sistema,Problema,2 - Normal,1 - Baja,1.0,5.0,2019
21487,SMLTNR-5044000667,2020-06-18,66.0,16.0,Acceso/Login,Solicitud,2 - Normal,2 - Media,0.0,4.0,2020
7248,KDLTET-8443689814,2019-08-12,901.0,38.0,Hardware,Solicitud,2 - Normal,0 - Sin Asignar,14.0,3.0,2019
762,GDLTET-1043672816,2019-07-26,901.0,18.0,Hardware,Solicitud,2 - Normal,0 - Sin Asignar,10.0,5.0,2019

5. Guardad los dataframes en dos csv diferentes que usaremos mañana en la clase de pair programming

In [55]:
# guardamos los ficheros

df_puestos_empleados.to_csv("datos/puestos_empleados.csv")

df_años.to_excel("datos/años.xlsx")

   
  
📌 NOTA Al final de este pair programing deberéis tener tres ficheros:
- El fichero de la unión de todos los conjuntos de datos de los distintos años
- El fichero con la unión de los datos de puestos y empleados.
- El fichero de los agentes.