# Pair Programming Pandas III

# Métodos Pandas

De aquí en adelante, vamos a trabajar con una serie de dataframes donde tenemos información sobre una empresa que se decica a la atención al cliente para resolver problemas con los sistemas. Esta empresa se dedica a brindar soluciones de software y hardware para usuarios que experimentan problemas técnicos en sus dispositivos electrónicos, ya sea en computadoras, laptops, teléfonos móviles u otros dispositivos.

Ofrecen servicios de reparación, diagnóstico, instalación y configuración de software y hardware, con el objetivo de ayudar a los clientes a resolver sus problemas técnicos y mejorar el rendimiento de sus dispositivos.

Esta empresa utiliza un sistema de tickets para atender los problemas de software y hardware de sus clientes. Los usuarios pueden presentar una solicitud de soporte a través del sistema de tickets y recibir una respuesta rápida y efectiva por parte de un equipo de técnicos especializados. El sistema de tickets permite a la empresa mantener un registro detallado de todas las solicitudes y su estado actual, lo que facilita el seguimiento y la resolución de los problemas en tiempo y forma. Además, la empresa puede usar los datos recopilados para identificar patrones y tendencias comunes en los problemas y mejorar continuamente sus servicios y procesos.

En concreto en este pair programming os hemos compartido 4 ficheros, estos son:

- Puestos.xlsx: este conjunto de datos contiene información sobre los puestos de trabajo disponibles en la empresa. Cada fila corresponde a un puesto y tiene información como su ID, nombre, departamento y tipo. La información sobre los departamentos y los tipos de puesto puede ayudar a la empresa a clasificar y organizar los puestos en función de su función y nivel de responsabilidad. 
Se pueden utilizar para llevar un registro de los puestos disponibles, sus descripciones y los requisitos necesarios para cada puesto. La información sobre los puestos también puede ser útil para la empresa para la planificación de la fuerza laboral, la evaluación del desempeño y la asignación de tareas. Además, los datos sobre los puestos pueden ser útiles para los empleados que buscan información sobre las oportunidades de trabajo y las descripciones de trabajo en la empresa.

- Empleados.csv: este conjunto de datos contiene información sobre los empleados de la empresa y sus turnos de trabajo. Cada fila corresponde a un empleado y tiene información como su ID, apellido, nombre, ID de puesto y correo electrónico. Estos datos se pueden utilizar para llevar un registro de los empleados, sus datos personales, su información de contacto y sus horarios de trabajo. 
La información sobre los turnos puede ayudar a la empresa a administrar y coordinar al personal de manera efectiva, asegurando una cobertura adecuada durante las horas de trabajo. Además, la información sobre los turnos puede ser útil para calcular las horas trabajadas por cada empleado y para la generación de nóminas.


- Agentes.csv: este conjunto de datos contiene información de los agentes de soporte técnico de la empresa. Cada fila corresponde a un agente y tiene información como el ID del agente, el nombre completo del agente, su correo electrónico y su fecha de nacimiento. Los utilizaremos para llevar un registro detallado de los agentes de soporte técnico, sus datos personales y su información de contacto. La empresa nos puede perdir como analistas de datos que administremos y coordinemos al equipo de soporte técnico, así como para realizar análisis estadísticos sobre el equipo de trabajo y sus características personales.


- 2016.xlsx: este conjunto de datos contiene información de tickets de soporte técnico de la empresa. Cada fila corresponde a un ticket y tiene información como el ID del ticket, la fecha de creación, el ID del empleado y del agente, la categoría y el tipo de problema reportado, la severidad y prioridad del problema, el tiempo que tardó en resolverse el ticket, el nivel de satisfacción del cliente, la plataforma web donde se reportó el problema y un índice. Estos datos se pueden utilizar para analizar el desempeño del equipo de soporte técnico de la empresa, identificar problemas comunes, medir la satisfacción del cliente y mejorar los procesos de soporte técnico.


## Tareas a realizar en este pair programming


La exploración de datos es una parte crítica del proceso de análisis de datos. Para los analistas de datos, hacer una exploración de datos con Pandas es importante por varias razones:

- Comprender los datos: antes de comenzar a analizar datos, es importante comprender los datos con los que se está trabajando.
- Identificar problemas de calidad de datos: los datos pueden contener errores, valores faltantes o datos duplicados. Al utilizar Pandas, como analistas de datos podemos identificar rápidamente estos problemas y determinar la mejor manera de abordarlos antes de comenzar a analizar los datos.
- Identificar patrones y tendencias: al explorar los datos con Pandas, los analistas de datos podemos identificar patrones y tendencias en los datos que pueden ayudar a generar ideas y obtener información valiosa.


En resumen, hacer una exploración de datos con Pandas es esencial para cualquier analista de datos, ya que puede ayudar a comprender los datos, identificar problemas de calidad de datos, identificar patrones y tendencias y visualizar los datos para una mejor comprensión y presentación de los resultados del análisis. En los próximos pair programmings vamos a empezar a explorar los datos para identificar posibles problemas en los datos, comprender los datos y familiarizanos con ellos.

In [3]:
import pandas as pd
import numpy as np
import pickle
import os

In [9]:
df_agentes = pd.read_csv("../archivos/Agentes.csv", encoding= "ISO-8859-1") 
df_agentes.head()

,ID Agente,Nombre,email,Fecha de Nacimiento
0,1,Mata Lucero,lucero.mata@tractchun.com,1989/4/28
1,2,JesusGrajeda,jesus.grajeda@tractchun.com,1979/1/1
2,3,Elena Velez,elena.velez@tractchun.com,1993/6/6
3,4,Barraza Alberto,alberto.barraza@tractchun.com,1978/10/20
4,5,Willyberto Gonzales,willyberto.gonzales@tractchun.com,1973/5/11

In [10]:
df_empleados = pd.read_csv("../archivos/Empleados.csv", encoding= "ISO-8859-1") 
df_empleados.head()

,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email
0,A,6,VILLA,JESUS,50-32200,jesus.villa@tractchun.com
1,NaN,10,MENDEZ,RICARDO,15-24100,ricardo.mendez@tractchun.com
2,NaN,21,HEREDIA,GUADALUPE,90-14000,guadalupe.heredia@tractchun.com
3,NaN,27,DURAN,DESSENS,15-24100,dessens.duran@tractchun.com
4,NaN,29,LAGUNA,FEDERICO,80-24100,federico.laguna@tractchun.com

In [7]:
df_2016 = pd.read_excel("../archivos/2016.xlsx") 
df_2016.head()

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,Web,Índice
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,www.tractchun.es,1.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,www.tractchun.es,1.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0



### Cargar todos los datasets que os hemos compartido en este pair programming

Haced una exploración básica cada uno de los DataFrames, esta exploración debe incluir:
- ¿Cuántas filas y columnas tiene el DataFrame?
- Mostrad las primeras cinco filas y las últimas cinco filas del DataFrame.
- Mostrad 2 filas al azar del DataFrame.
- ¿Cuál es el nombre de las columnas del DataFrame?
- ¿Cuáles son los principales estádisticos del DataFrame? Mostrad por separado las variables categóricas y las variables numéricas.
- ¿Cuál es el porcentaje de valores nulos en cada columna?
- ¿Cuántos valores únicos tenemos para cada una de las columnas?

In [12]:
print(df_agentes.info())
print(df_empleados.info())
df_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID Agente            50 non-null     int64
 1   Nombre               50 non-null     object
 2   email                50 non-null     object
 3   Fecha de Nacimiento  50 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Turno        8 non-null      object
 1   ID Empleado  2000 non-null   int64
 2   Apellido     2000 non-null   object
 3   Nombre       2000 non-null   object
 4   ID Puesto    2000 non-null   object
 5   Email        2000 non-null   object
dtypes: int64(1), object(5)
memory usage: 93.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13051 entries, 0 to 13050
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID Ticket        13050 non-null  object
 1   Fecha            13025 non-null  datetime64[ns]
 2   ID Empleado      13049 non-null  float64
 3   ID Agente        13050 non-null  float64
 4   Categoría        13038 non-null  object
 5   Tipo             13050 non-null  object
 6   Severidad        13025 non-null  object
 7   Prioridad        13025 non-null  object
 8   Días Resolución  13049 non-null  float64
 9   Satisfacción     13037 non-null  float64
 10  Web              13024 non-null  object
 11  Índice           13038 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(6)
memory usage: 1.2+ MB

In [13]:
print(df_agentes.head(5))
print(df_empleados.head(5))
df_2016.head(5)

   ID Agente               Nombre                              email  \
0          1          Mata Lucero          lucero.mata@tractchun.com
1          2         JesusGrajeda        jesus.grajeda@tractchun.com
2          3          Elena Velez          elena.velez@tractchun.com
3          4      Barraza Alberto      alberto.barraza@tractchun.com
4          5  Willyberto Gonzales  willyberto.gonzales@tractchun.com

  Fecha de Nacimiento
0           1989/4/28
1            1979/1/1
2            1993/6/6
3          1978/10/20
4           1973/5/11
  Turno  ID Empleado Apellido     Nombre ID Puesto  \
0     A            6    VILLA      JESUS  50-32200
1   NaN           10   MENDEZ    RICARDO  15-24100
2   NaN           21  HEREDIA  GUADALUPE  90-14000
3   NaN           27    DURAN    DESSENS  15-24100
4   NaN           29   LAGUNA   FEDERICO  80-24100

                             Email
0        jesus.villa@tractchun.com
1     ricardo.mendez@tractchun.com
2  guadalupe.heredia@tractchun.com
3      dessens.duran@tractchun.com
4    federico.laguna@tractchun.com

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,Web,Índice
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,www.tractchun.es,1.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,www.tractchun.es,1.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0

In [14]:
print(df_agentes.tail(5))
print(df_empleados.tail(5))
df_2016.tail(5)

    ID Agente           Nombre                          email  \
45         46      Rosa Olguin      rosa.olguin@tractchun.com
46         47  Yomaira Agudelo  yomaira.agudelo@tractchun.com
47         48   Aurelio Tanori   aurelio.tanori@tractchun.com
48         49   Armando Sierra   armando.sierra@tractchun.com
49         50     Ramon Macias     ramon.macias@tractchun.com

   Fecha de Nacimiento
45           1985/5/30
46          1974/12/15
47           1979/8/29
48            1991/4/5
49            1980/3/4
     Turno  ID Empleado  Apellido     Nombre ID Puesto  \
1995   NaN         1903     RAMOS       JOSE  55-23200
1996   NaN         1904      RUIZ  GUADALUPE  80-22220
1997   NaN         1935    ZEPEDA  FRANCISCO  15-24100
1998   NaN         1953    ROBLES  ELIZABETH  15-24100
1999   NaN         1993  ENRIQUEZ  HERCULANO  45-11000

                                 Email
1995          jose.ramos@tractchun.com
1996      guadalupe.ruiz@tractchun.com
1997    francisco.zepeda@tractchun.com
1998    elizabeth.robles@tractchun.com
1999  herculano.enriquez@tractchun.com

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,Web,Índice
13046,TWRTSR-6442574526,2016-07-23,962.0,25.0,Sistema,Solicitud,1 - Menor,1 - Baja,14.0,4.0,www.tractchun.es,1.0
13047,TWRTSR-7142570866,2016-07-19,126.0,38.0,Sistema,Solicitud,3 - Mayor,1 - Baja,13.0,5.0,www.tractchun.es,1.0
13048,TWRTSR-7742498308,2016-05-08,510.0,3.0,Sistema,Solicitud,3 - Mayor,1 - Baja,2.0,5.0,www.tractchun.es,1.0
13049,TWRTSR-8642558628,2016-07-07,1942.0,26.0,Sistema,Solicitud,1 - Menor,1 - Baja,16.0,4.0,www.tractchun.es,1.0
13050,TWRTSR-8742628897,2016-09-15,919.0,8.0,Sistema,Solicitud,1 - Menor,1 - Baja,7.0,4.0,www.tractchun.es,1.0

In [15]:
print(df_agentes.sample(2))
print(df_empleados.sample(2))
df_2016.sample(2)

    ID Agente        Nombre                       email Fecha de Nacimiento
16         17  Leon Lourdes  lourdes.leon@tractchun.com          1971/12/28
21         22        Lorena   lorena.leon@tractchun.com           1996/7/16
     Turno  ID Empleado Apellido  Nombre ID Puesto  \
273    NaN         1492  MONTIEL   MARIA  45-11000
1932   NaN         1072    REYES  CARLOS  55-23200

                            Email
273   maria.montiel@tractchun.com
1932   carlos.reyes@tractchun.com

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,Web,Índice
6047,KHLTSR-2742398201,2016-01-29,610.0,42.0,Sistema,Solicitud,2 - Normal,3 - Alta,7.0,4.0,www.tractchun.es,1.0
233,GDLEST-0542722515,2016-12-18,551.0,35.0,Sistema,Problema,2 - Normal,0 - Sin Asignar,5.0,5.0,www.tractchun.es,1.0

In [49]:
columns_agentes = df_agentes.columns
columns_agentes

Index(['ID Agente', 'Nombre', 'email', 'Fecha de Nacimiento'], dtype='object')

In [50]:
columns_empleados = df_empleados.columns
columns_empleados

Index(['Turno', 'ID Empleado', 'Apellido', 'Nombre', 'ID Puesto', 'Email'], dtype='object')

In [52]:
exc_columns = df_2016.columns
exc_columns

Index(['ID Ticket', 'Fecha', 'ID Empleado', 'ID Agente', 'Categoría', 'Tipo',
       'Severidad', 'Prioridad', 'Días Resolución', 'Satisfacción', 'Web',
       'Índice '],
      dtype='object')

In [27]:
print(df_agentes.describe())
df_agentes.describe(include = 'object')

       ID Agente
count   50.00000
mean    25.50000
std     14.57738
min      1.00000
25%     13.25000
50%     25.50000
75%     37.75000
max     50.00000

             Nombre                      email Fecha de Nacimiento
count            50                         50                  50
unique           50                         50                  50
top     Mata Lucero  lucero.mata@tractchun.com           1989/4/28
freq              1                          1                   1

In [28]:
print(df_empleados.describe())
df_empleados.describe(include = 'object')

       ID Empleado
count  2000.000000
mean   1000.500000
std     577.494589
min       1.000000
25%     500.750000
50%    1000.500000
75%    1500.250000
max    2000.000000

       Turno Apellido Nombre ID Puesto                      Email
count      8     2000   2000      2000                       2000
unique     4      376    565        75                       2000
top        A    LOPEZ  MARIA  15-24100  jesus.villa@tractchun.com
freq       2       36     46       407                          1

In [29]:
print(df_2016.describe())
df_2016.describe(include = 'object')

        ID Empleado     ID Agente  Días Resolución  Satisfacción  Índice
count  13049.000000  13050.000000     13049.000000  13037.000000  13038.0
mean     999.737988     25.425134         4.551843      3.979673      1.0
std      580.422512     14.363362         4.352681      1.326657      0.0
min        1.000000      1.000000         0.000000      1.000000      1.0
25%      499.000000     13.000000         0.000000      4.000000      1.0
50%      995.000000     26.000000         4.000000      4.000000      1.0
75%     1505.000000     38.000000         7.000000      5.000000      1.0
max     2000.000000     50.000000        21.000000      5.000000      1.0

,ID Ticket,Categoría,Tipo,Severidad,Prioridad,Web
count,13050,13038,13050,13025,13025,13024
unique,13050,4,2,5,4,1
top,GDDENR-5042564453,Sistema,Solicitud,2 - Normal,3 - Alta,www.tractchun.es
freq,1,5247,9756,11771,4828,13024

In [38]:
#porcentaje?¿
print(df_agentes.isnull().sum() /len(df_agentes) * 100)
print(df_empleados.isnull().sum() /len(df_agentes) * 100)
df_2016.isnull().sum() /len(df_agentes) * 100

ID Agente              0.0
Nombre                 0.0
email                  0.0
Fecha de Nacimiento    0.0
dtype: float64
Turno          3984.0
ID Empleado       0.0
Apellido          0.0
Nombre            0.0
ID Puesto         0.0
Email             0.0
dtype: float64

ID Ticket           2.0
Fecha              52.0
ID Empleado         4.0
ID Agente           2.0
Categoría          26.0
Tipo                2.0
Severidad          52.0
Prioridad          52.0
Días Resolución     4.0
Satisfacción       28.0
Web                54.0
Índice             26.0
dtype: float64

In [68]:
df_2016['Web'].unique()
df_2016['Web'].value_counts()

www.tractchun.es    13024
Name: Web, dtype: int64

In [72]:
for i in df_agentes.columns:
    print(i)

AttributeError: 'str' object has no attribute 'values'


- De aquellas columnas que tengan menos de 6 elementos únicos mostrad cada uno de sus valores únicos.

📌 NOTA Fijaos que vamos a hacer lo mismo para cada archivo que tenemos. Una buena práctica sería crearnos una función que apliquemos a cada conjunto de datos. Nuestra función recibirá un parámetro, que será el dataframe entero

📌 NOTA Nos estamos convirtiendo en analistas de datos y no nos debe valer solo con escribir el código, os recomendamos que reviseis bien los resultados y empezais a extraer algunas conclusiones. ¿Hay datos raros en nuestros conjuntos de datos? ¿Tenemos nulos?, etc.

In [ ]:
def datos_dataframe(df):

    print(f"El dataframe {df} tiene {df.shape[0]} filas y {df.shape[1]} columnas")  
    print("----------------")
    print(df.head())
    print("----------------")
    print(df.tail())
    print("----------------")
    print(df.sample(2))
    print("----------------")
    columnas = [df.columns[num] for num in range(len(df.columns))]

    print(f"Las columnas de nuestro dataframe se llaman {columnas}")
    print("----------------")

    print(f"Los estadísticos numéricos son {df}:")
    print(df.describe)
    print(f"Los estadísticos categóricos son {df}:")

    print(df.describe(include = "object"))
    print("----------------")
    
    
    #df_2016.isnull().sum() /len(df_agentes) * 100
    
    print("Los porcentajes de valores nulos por cada columna son:")
    print(df.isnull().sum() * 100/df.shape[0])
    print("----------------")

    v_unicos = [len(df[col].value_counts()) for col in columnas]

    v_unicos_columna = list(zip(columnas, v_unicos))

    print(f"Los valores únicos por cada columna son: {v_unicos}")
          
    # print(v_unicos_columna)
    # print("---")

    #revisar



Modificaciones básicas de los conjuntos de datos:

- Cambiad el nombre de las columnas para que todas estén en minúsculas y reemplazad los espacios por _.

- Para las columnas de web e índice en el archovo de 2016.xlsx ya hemos visto que tiene un único valor único, lo cual no tiene mucho sentido ya que no nos aporta información útil. En este ejercicios tendréis que eliminar dichas columnas del dataframe.

- Establece la columna id_ticket de la tabla de 2016.xlsx como índice del DataFrame.

- Guarda los csv's sobre los que hayáis hecho cambios para usarlos en próximos pairs .