# Hacer una exploración inicial del dataframe.

In [1]:
import pandas as pd
import numpy as np
import pickle
import os
from scipy import stats 
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
from pydataset import data

In [2]:
os.getcwd()

'/mnt/c/Users/Usuario/Desktop'

In [3]:
os.chdir("pairs_modulo_2/promo-d-da-modulo2-sprint1-laura-paula-estibaliz/")

In [4]:
df_avocado = pd.read_csv("../archivos/avocado.csv", index_col= 0)
df_avocado.head()

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

¿Cuántas filas tiene?

In [5]:
df_avocado.shape[0]

18249

In [6]:
df_avocado.head()

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [7]:
homogenizar_columnas = {col: col.lower().replace(" ", "_") for col in df_avocado}
df_avocado.rename(columns = homogenizar_columnas, inplace = True)

df_avocado.head(2)

,date,averageprice,total_volume,4046,4225,4770,total_bags,small_bags,large_bags,xlarge_bags,type,year,region
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany

¿Cuántas nulos tiene?

In [8]:
df_avocado.isnull().sum()

date            0
averageprice    0
total_volume    0
4046            0
4225            0
4770            0
total_bags      0
small_bags      0
large_bags      0
xlarge_bags     0
type            0
year            0
region          0
dtype: int64

In [9]:
df_avocado.dropna(inplace= True)

¿Cuántos duplicados tiene?

In [10]:
df_avocado.duplicated().sum()

0

In [11]:
df_avocado.drop_duplicates(inplace = True)

In [12]:
df_avocado.duplicated().sum()

0

¿Qué tipo de datos tenemos en el dataframe?

In [13]:
df_avocado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18249 entries, 0 to 11
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          18249 non-null  object
 1   averageprice  18249 non-null  float64
 2   total_volume  18249 non-null  float64
 3   4046          18249 non-null  float64
 4   4225          18249 non-null  float64
 5   4770          18249 non-null  float64
 6   total_bags    18249 non-null  float64
 7   small_bags    18249 non-null  float64
 8   large_bags    18249 non-null  float64
 9   xlarge_bags   18249 non-null  float64
 10  type          18249 non-null  object
 11  year          18249 non-null  int64
 12  region        18249 non-null  object
dtypes: float64(9), int64(1), object(3)
memory usage: 1.9+ MB

In [15]:
df_avocado[["averageprice", "total_bags"]].describe()

       averageprice    total_bags
count  18249.000000  1.824900e+04
mean       1.405978  2.396392e+05
std        0.402677  9.862424e+05
min        0.440000  0.000000e+00
25%        1.100000  5.088640e+03
50%        1.370000  3.974383e+04
75%        1.660000  1.107834e+05
max        3.250000  1.937313e+07

Moda, Media, Mediana, Máximo, Mínimo

In [16]:
media = df_avocado['averageprice'].mean()
print(f' La media de la columna "averageprice" es {media}')
print('---------')

mediana = df_avocado['averageprice'].median()
print(f' La mediana de la columna "averageprice" es {mediana}')
print('---------')

moda = df_avocado['averageprice'].mode()[0]
print(f' La moda de la columna "averageprice" es {moda}')
print('---------')

max_price = df_avocado['averageprice'].max()
print(f' El valor máximo de la columna "averageprice" es {max_price}')
print('---------')

min_price = df_avocado['averageprice'].min()
print(f' El valor mínimo de la columna "averageprice" es {min_price}')

 La media de la columna "averageprice" es 1.4059784097758825
---------
 La mediana de la columna "averageprice" es 1.37
---------
 La moda de la columna "averageprice" es 1.15
---------
 El valor máximo de la columna "averageprice" es 3.25
---------
 El valor mínimo de la columna "averageprice" es 0.44

Media Ponderada

Varianza

Coeficiente

# Plantead una serie de preguntas como las que fuimos contestando en la clase invertida.

# Contestad a las preguntas planteadas usando los principales estadísticos que hemos aprendido y gráficas que mejor se ajusten.