# Pair Programming Pandas VI

# Group By

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
df_puestos = pd.read_csv("datos/puestos_empleados.csv")
df_puestos.head()

,Unnamed: 0,id_puesto,puesto,departamento,tipo_puesto,turno,id_empleado,apellido,nombre,email
0,0,10-23200,Ingeniero de Materiales,MATERIALES,Operativo,NaN,725,Villa,Eliana,eliana .villa@tractchun.com
1,1,10-23200,Ingeniero de Materiales,MATERIALES,Operativo,NaN,747,CHAVEZ,FEDERICO,federico.chavez@tractchun.com
2,2,10-23200,Ingeniero de Materiales,MATERIALES,Operativo,NaN,544,FIGUEROA,ANGEL,angel.figueroa@tractchun.com
3,3,10-24111,Operador de Producci칩n,MATERIALES,Operativo,NaN,1376,Piedrahita,Gonzalo,gonzalo.piedrahita@tractchun.com
4,4,10-24111,Operador de Producci칩n,MATERIALES,Operativo,NaN,44,Gonz치lez,Gonzalo,gonzalo.gonz치lez@tractchun.com

In [14]:
df_historico = pd.read_csv("datos/historico_tickets.csv")
df_historico.head()

,Unnamed: 0,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n,semestre,a침o
0,0,GDDENR-5042564453,2016-07-13,1735,4,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,2췈 semestre,2016
1,1,GDDENR-8042508060,2016-05-18,1566,10,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,1 semestre,2016
2,2,GDDESR-1342539995,2016-06-18,569,29,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3,5,1 semestre,2016
3,3,GDDTSR-5942488006,2016-04-28,320,40,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9,5,1 semestre,2016
4,4,GDLEER-0042524120,2016-06-03,1842,31,Software,Problema,2 - Normal,0 - Sin Asignar,0,5,1 semestre,2016

In [12]:
df_puestos.drop(['Unnamed: 0'], axis = 1, inplace = True)
df_puestos

,id_puesto,puesto,departamento,tipo_puesto,turno,id_empleado,apellido,nombre,email
0,10-23200,Ingeniero de Materiales,MATERIALES,Operativo,NaN,725,Villa,Eliana,eliana .villa@tractchun.com
1,10-23200,Ingeniero de Materiales,MATERIALES,Operativo,NaN,747,CHAVEZ,FEDERICO,federico.chavez@tractchun.com
2,10-23200,Ingeniero de Materiales,MATERIALES,Operativo,NaN,544,FIGUEROA,ANGEL,angel.figueroa@tractchun.com
3,10-24111,Operador de Producci칩n,MATERIALES,Operativo,NaN,1376,Piedrahita,Gonzalo,gonzalo.piedrahita@tractchun.com
4,10-24111,Operador de Producci칩n,MATERIALES,Operativo,NaN,44,Gonz치lez,Gonzalo,gonzalo.gonz치lez@tractchun.com
...,...,...,...,...,...,...,...,...,...
1995,90-24100,Supervisor de Producci칩n,INGENIERIA DE CALIDAD,Mandos Medios,NaN,1209,FIGUEROA,GAMBOA,gamboa.figueroa@tractchun.com
1996,90-24100,Supervisor de Producci칩n,INGENIERIA DE CALIDAD,Mandos Medios,NaN,1313,MATA,LOURDES,lourdes.mata@tractchun.com
1997,90-24100,Supervisor de Producci칩n,INGENIERIA DE CALIDAD,Mandos Medios,NaN,1077,MORALES,ELENA,elena.morales@tractchun.com
1998,90-24100,Supervisor de Producci칩n,INGENIERIA DE CALIDAD,Mandos Medios,NaN,992,MEDINA,DIOGENES,diogenes.medina@tractchun.com
1999,90-24100,Supervisor de Producci칩n,INGENIERIA DE CALIDAD,Mandos Medios,NaN,1281,Cardona,Jose,jose.cardona@tractchun.com

In [15]:
df_historico.drop(['Unnamed: 0'], axis = 1, inplace = True)
df_historico

,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n,semestre,a침o
0,GDDENR-5042564453,2016-07-13,1735,4,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,2췈 semestre,2016
1,GDDENR-8042508060,2016-05-18,1566,10,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,1 semestre,2016
2,GDDESR-1342539995,2016-06-18,569,29,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3,5,1 semestre,2016
3,GDDTSR-5942488006,2016-04-28,320,40,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9,5,1 semestre,2016
4,GDLEER-0042524120,2016-06-03,1842,31,Software,Problema,2 - Normal,0 - Sin Asignar,0,5,1 semestre,2016
...,...,...,...,...,...,...,...,...,...,...,...,...
97381,TWRTSR-8543883120,2020-02-22,1142,1,Sistema,Solicitud,3 - Mayor,1 - Baja,11,5,1 semestre,2020
97382,TWRTSR-8744097039,2020-09-23,223,40,Sistema,Solicitud,1 - Menor,1 - Baja,7,4,2췈 semestre,2020
97383,TWRTSR-9643846768,2020-01-16,256,7,Sistema,Solicitud,3 - Mayor,1 - Baja,13,5,1 semestre,2020
97384,TWRTSR-9944138906,2020-11-03,1060,9,Sistema,Solicitud,1 - Menor,1 - Baja,9,5,2췈 semestre,2020
97385,TWRTST-8643986162,2020-06-04,1876,41,Sistema,Solicitud,1 - Menor,1 - Baja,6,4,1 semestre,2020

1. En pairs anteriores hemos ido pudiendo sacar algunas conclusiones y contestando las preguntas que nos hac칤an las jefas. Desde la direcci칩n se est치n planteando cambiar el sistema de asiganci칩n de las solicitudes que llegan. En concreto, necesitan saber que categor칤a es la que recibe m치s tickets para poder asignar m치s empleados a esa categor칤a. Por esto nos piden que averiguemos qu칠 categor칤a es la que tiene m치s tickets. Adem치s nos piden que devolvamos esta consulta en un DataFrame.

游늷 NOTA Ordena los resultados de mayor a menor. Esto todav칤a no lo hemos visto, pero un DataFrame lo podemos ordenar con .sort_values(). Aqu칤 ten칠is una explicaci칩n de c칩mo hacerlo.

In [29]:
df_tickets = df_historico.groupby('categor칤a')['id_ticket'].count().sort_values(ascending= False).reset_index()
df_tickets

       categor칤a  id_ticket
0        Sistema      38961
1       Software      19543
2       Hardware       9717
3   Acceso/Login       8659
4  Acceso99Login       6426
5  Acceso-&Login       5672
6  Acceso%&Login       4526
7  Acceso&%Login       3882

2. Desde la direcci칩n quieren seguir evaluando la situaci칩n planteada en el ejercicio anterior. Pero ahora quieres saber cual es la media de la satisfacci칩n por categor칤a. En concreto quieren saber si independientemente de la categor칤a los clientes salgan satisfechos, para que en caso de que no sea as칤 poder identificar un posible problema subyacente. Por lo tanto, nos piden que calculemos la media de satisfacci칩n por cada una de las categor칤as que tenemos en el dataframe.

In [36]:
df_satisfaccion = df_historico.groupby(['categor칤a'])['satisfacci칩n'].mean().reset_index()
df_satisfaccion

       categor칤a  satisfacci칩n
0  Acceso%&Login      4.059876
1  Acceso&%Login      3.957239
2  Acceso-&Login      4.087447
3   Acceso/Login      4.172075
4  Acceso99Login      4.105198
5       Hardware      4.101575
6        Sistema      4.102487
7       Software      4.106841

3. Quieren mejorar la consulta anterior y ahora nos piden que adem치s de la media les devolvamos la desviaci칩n est치ndar de la satisfacci칩n.
En nuestros datos, adem치s hemos visto que no solo tenemos categor칤as, y que las diferencias entre ellas no son especialmente significativas. Revisando los datos de nuevo, desde direcci칩n saben que hay dos tipos de tickets (Problema y Solicitud), bas치ndonos en esto, 쯛ay diferencias en la satisfacci칩n bas치ndonos en la categor칤a y el tipo de tickets?.

In [37]:
df_satisfaccion = df_historico.groupby(['categor칤a'])['satisfacci칩n'].agg(['mean', 'std']).reset_index()
df_satisfaccion

       categor칤a      mean       std
0  Acceso%&Login  4.059876  1.292629
1  Acceso&%Login  3.957239  1.341939
2  Acceso-&Login  4.087447  1.272903
3   Acceso/Login  4.172075  1.197885
4  Acceso99Login  4.105198  1.256943
5       Hardware  4.101575  1.262433
6        Sistema  4.102487  1.253473
7       Software  4.106841  1.254424

4. En nuestros datos, adem치s hemos visto que no solo tenemos categor칤as, y que las diferencias entre ellas no son especialmente significativas. Revisando los datos de nuevo, desde direcci칩n saben que hay dos tipos de tickets (Problema y Solicitud), bas치ndonos en esto, 쯛ay diferencias en la satisfacci칩n bas치ndonos en la categor칤a y el tipo de tickets?.

In [44]:
df_satisfaccion = df_historico.groupby(['categor칤a', 'tipo'])['satisfacci칩n'].agg(['mean', 'std']).reset_index()
df_satisfaccion

        categor칤a       tipo      mean       std
0   Acceso%&Login   Problema  3.992799  1.339605
1   Acceso%&Login  Solicitud  4.081698  1.276415
2   Acceso&%Login   Problema  3.989940  1.350059
3   Acceso&%Login  Solicitud  3.945983  1.339182
4   Acceso-&Login   Problema  4.045079  1.286510
5   Acceso-&Login  Solicitud  4.100438  1.268568
6    Acceso/Login   Problema  4.228160  1.169298
7    Acceso/Login  Solicitud  4.153527  1.206705
8   Acceso99Login   Problema  4.090354  1.249710
9   Acceso99Login  Solicitud  4.110276  1.259497
10       Hardware   Problema  4.090640  1.276350
11       Hardware  Solicitud  4.105084  1.258001
12        Sistema   Problema  4.098809  1.258599
13        Sistema  Solicitud  4.103713  1.251780
14       Software   Problema  4.111472  1.247402
15       Software  Solicitud  4.105281  1.256820


5. A pesar de que sabemos que tenemos muchos empleados y varios departamentos, nuestras jefas no saben cu치ntas personas hay en cada uno de estos departamentos. Por esto, nos piden que calculemos el n칰mero de empleados que tenemos por departamento. Devolved estos resultados en un dataframe. Ordenadas los resultados de mayor a menor bas치ndonos en la cantidad de empleados que tenemos.

In [45]:
df_puestos

,id_puesto,puesto,departamento,tipo_puesto,turno,id_empleado,apellido,nombre,email
0,10-23200,Ingeniero de Materiales,MATERIALES,Operativo,NaN,725,Villa,Eliana,eliana .villa@tractchun.com
1,10-23200,Ingeniero de Materiales,MATERIALES,Operativo,NaN,747,CHAVEZ,FEDERICO,federico.chavez@tractchun.com
2,10-23200,Ingeniero de Materiales,MATERIALES,Operativo,NaN,544,FIGUEROA,ANGEL,angel.figueroa@tractchun.com
3,10-24111,Operador de Producci칩n,MATERIALES,Operativo,NaN,1376,Piedrahita,Gonzalo,gonzalo.piedrahita@tractchun.com
4,10-24111,Operador de Producci칩n,MATERIALES,Operativo,NaN,44,Gonz치lez,Gonzalo,gonzalo.gonz치lez@tractchun.com
...,...,...,...,...,...,...,...,...,...
1995,90-24100,Supervisor de Producci칩n,INGENIERIA DE CALIDAD,Mandos Medios,NaN,1209,FIGUEROA,GAMBOA,gamboa.figueroa@tractchun.com
1996,90-24100,Supervisor de Producci칩n,INGENIERIA DE CALIDAD,Mandos Medios,NaN,1313,MATA,LOURDES,lourdes.mata@tractchun.com
1997,90-24100,Supervisor de Producci칩n,INGENIERIA DE CALIDAD,Mandos Medios,NaN,1077,MORALES,ELENA,elena.morales@tractchun.com
1998,90-24100,Supervisor de Producci칩n,INGENIERIA DE CALIDAD,Mandos Medios,NaN,992,MEDINA,DIOGENES,diogenes.medina@tractchun.com
1999,90-24100,Supervisor de Producci칩n,INGENIERIA DE CALIDAD,Mandos Medios,NaN,1281,Cardona,Jose,jose.cardona@tractchun.com

In [50]:
df_puestos.groupby('id_puesto')['departamento'].count().sort_values(ascending=False).reset_index()

   id_puesto  departamento
0   15-24100           407
1   55-23200           210
2   45-11000           186
3   90-14100           162
4   80-22220            96
..       ...           ...
70  25-25130             1
71  45-15000             1
72  80-23810             1
73  55-23500             1
74  20-31200             1

[75 rows x 2 columns]

6. BONUS Quieren saber que departamentos son los que tienen de media un indice de satisfacci칩n.

游눠Pista Para responder a esta pregunta tendremos que unir los dataframes con m칠todos aprendidos en lecciones anteriores de Pandas.

In [53]:
df_media_bonus = df_puestos.merge(df_historico, on= 'id_empleado')
df_media_bonus.head()

,id_puesto,puesto,departamento,tipo_puesto,turno,id_empleado,apellido,nombre,email,id_ticket,fecha,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n,semestre,a침o
0,10-23200,Ingeniero de Materiales,MATERIALES,Operativo,NaN,725,Villa,Eliana,eliana .villa@tractchun.com,GDLTER-3342392354,2016-01-23,23,Software,Solicitud,2 - Normal,0 - Sin Asignar,3,5,1 semestre,2016
1,10-23200,Ingeniero de Materiales,MATERIALES,Operativo,NaN,725,Villa,Eliana,eliana .villa@tractchun.com,GDLTSR-2742370351,2016-01-01,43,Sistema,Solicitud,2 - Normal,0 - Sin Asignar,7,4,1 semestre,2016
2,10-23200,Ingeniero de Materiales,MATERIALES,Operativo,NaN,725,Villa,Eliana,eliana .villa@tractchun.com,KDLESR-4342734555,2016-12-30,45,Sistema,Problema,2 - Normal,0 - Sin Asignar,3,4,2췈 semestre,2016
3,10-23200,Ingeniero de Materiales,MATERIALES,Operativo,NaN,725,Villa,Eliana,eliana .villa@tractchun.com,KDLTSR-2942461751,2016-04-01,17,Sistema,Solicitud,2 - Normal,0 - Sin Asignar,9,5,1 semestre,2016
4,10-23200,Ingeniero de Materiales,MATERIALES,Operativo,NaN,725,Villa,Eliana,eliana .villa@tractchun.com,KHLESR-7242516852,2016-05-26,8,Sistema,Problema,2 - Normal,3 - Alta,2,3,1 semestre,2016

In [56]:
df_satisfaccion_dep = df_media_bonus.groupby(['departamento'])['satisfacci칩n'].mean().reset_index()
df_satisfaccion_dep

                                   departamento  satisfacci칩n
0   AUDITORIA INTERNA, CALIBRACION Y METROLOGIA      4.075758
1                                  CONTABILIDAD      4.051628
2                         CONTROL DE PRODUCCION      4.086079
3                         INGENIERIA DE CALIDAD      4.109565
4                     INGENIERIA DE MANUFACTURA      4.095311
5                                 MANTENIMIENTO      4.087091
6                                    MATERIALES      4.126486
7                                      PERSONAL      4.096349
8                                    PRODUCCION      4.102209
9                              Recursos Humanos      4.122085
10                  SISTEMAS, TRAFICO Y ADUANAS      4.102866


7. BONUS Por 칰ltimo, quieres conocer los 5 empleados que tienen mayor valor en la satisfacci칩n y los 5 empleados que tienen un menor valor de satisfacci칩n. Todo esto respecto a la media. En este caso, conseguiremos una dataframe, donde tengamos el el id del empleado y su satisfacci칩n, pero no sabemos su nombre y appelidos. 쯉e os ocurre como conseguir la informaci칩n del nombre del empleado?

In [67]:
df_nivel_max_sat = df_media_bonus.groupby(['departamento', 'id_empleado'])['satisfacci칩n'].mean().sort_values(ascending=False).reset_index()
df_nivel_max_sat.head(5)

                departamento  id_empleado  satisfacci칩n
0                 MATERIALES          622      4.744681
1      CONTROL DE PRODUCCION          859      4.666667
2  INGENIERIA DE MANUFACTURA          746      4.641026
3                 PRODUCCION         1943      4.589286
4           Recursos Humanos         1836      4.586957

In [68]:
df_nivel_min_sat = df_media_bonus.groupby(['departamento', 'id_empleado'])['satisfacci칩n'].mean().sort_values(ascending=False).reset_index()
df_nivel_min_sat.tail(5)

                                     departamento  id_empleado  satisfacci칩n
1995                                MANTENIMIENTO         1999      3.575000
1996                        CONTROL DE PRODUCCION         1825      3.571429
1997  AUDITORIA INTERNA, CALIBRACION Y METROLOGIA         1725      3.567568
1998                                   PRODUCCION         1366      3.545455
1999                                MANTENIMIENTO          839      3.488372

In [69]:
df_nombres_max = df_media_bonus.groupby(['departamento', 'id_empleado', 'nombre', 'apellido'])['satisfacci칩n'].mean().sort_values(ascending=False).reset_index()
df_nombres_max.head(5)

                departamento  id_empleado      nombre   apellido  satisfacci칩n
0                 MATERIALES          622     EDUARDO   MONJARAS      4.744681
1      CONTROL DE PRODUCCION          859      ADOLFO  RODRIGUEZ      4.666667
2  INGENIERIA DE MANUFACTURA          746        ROSA       COTA      4.641026
3                 PRODUCCION         1943  VALENZUELA      OCHOA      4.589286
4           Recursos Humanos         1836     ANTONIO    FIMBRES      4.586957

In [70]:
df_nombres_min = df_media_bonus.groupby(['departamento', 'id_empleado', 'nombre', 'apellido'])['satisfacci칩n'].mean().sort_values(ascending=False).reset_index()
df_nombres_min.tail(5)

,departamento,id_empleado,nombre,apellido,satisfacci칩n
1995,MANTENIMIENTO,1999,NORA,GOMEZ,3.575000
1996,CONTROL DE PRODUCCION,1825,Elena,Gonzalez,3.571429
1997,"AUDITORIA INTERNA, CALIBRACION Y METROLOGIA",1725,MARIA,CASTILLO,3.567568
1998,PRODUCCION,1366,IBARRA,CALDERON,3.545455
1999,MANTENIMIENTO,839,IVONNE,RUIZ,3.488372