# Pair Programming Pandas VII

# Apply

In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

Seguiremos trabajando con mismos csv que en el pair anterior, el de los empleados que unimos en el pair de uni칩n de datasets y el de los tickets de todos los a침os.

3. En el pair programming desde a direcci칩n nos ped칤an que agruparamos los datos en base a la columna de "categor칤a", puede que en aquel momento nos dieramos cuenta que hab칤a var칤as categor칤as que eran igual (en concreto "Acceso Login") pero que en algunos casos ten칤a unos s칤mbolos raros (&, %, -). Es el momento de limpiar esta columna. El objetivo, reemplazar todos estos s칤mbolos raros por "/", para conseguir homogeneizar los valores de esta columna. Para ellos deberemos crear una funci칩n.

4. Una vez que hay치is terminado eliminad las columnas originales conservando las nuevas.

5. Guardad el dataframe en un csv que usaremos m치s adelante

In [34]:
df_puestos = pd.read_csv("../datos/puestos_empleados.csv", index_col=0)
df_puestos.head()

,id_puesto,puesto,departamento,tipo_puesto,turno,id_empleado,apellido,nombre,email
0,10-23200,Ingeniero de Materiales,MATERIALES,Operativo,NaN,725,Villa,Eliana,eliana .villa@tractchun.com
1,10-23200,Ingeniero de Materiales,MATERIALES,Operativo,NaN,747,CHAVEZ,FEDERICO,federico.chavez@tractchun.com
2,10-23200,Ingeniero de Materiales,MATERIALES,Operativo,NaN,544,FIGUEROA,ANGEL,angel.figueroa@tractchun.com
3,10-24111,Operador de Producci칩n,MATERIALES,Operativo,NaN,1376,Piedrahita,Gonzalo,gonzalo.piedrahita@tractchun.com
4,10-24111,Operador de Producci칩n,MATERIALES,Operativo,NaN,44,Gonz치lez,Gonzalo,gonzalo.gonz치lez@tractchun.com

In [35]:
df_historico = pd.read_csv("../datos/historico_tickets.csv", index_col=0)
df_historico.head()

,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n,semestre,a침o
0,GDDENR-5042564453,2016-07-13,1735,4,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,2췈 semestre,2016
1,GDDENR-8042508060,2016-05-18,1566,10,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,1 semestre,2016
2,GDDESR-1342539995,2016-06-18,569,29,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3,5,1 semestre,2016
3,GDDTSR-5942488006,2016-04-28,320,40,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9,5,1 semestre,2016
4,GDLEER-0042524120,2016-06-03,1842,31,Software,Problema,2 - Normal,0 - Sin Asignar,0,5,1 semestre,2016

1. Cread una columna nueva y una funci칩n que nos de el mes en el que se solicit칩 el servicio. Tened en cuenta que todas las filas tienen la misma estructura. A la hora de escribir la funci칩n debemos tener en cuenta que puede que no haya la informaci칩n de mes en la columna de la fecha. En ese caso devolved un nulo (NaN).

游늷 Nota La fecha tendr치 que ir formato de string como "Enero", "Febrero", etc.

游눠 Pista 游눠Podr칠is usar regex, pero no es estrictamente necesario.

In [41]:
# hacemos una copia del dataframe
df_copia_historico = df_historico.copy()
df_copia_historico.head(2)

,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n,semestre,a침o
0,GDDENR-5042564453,2016-07-13,1735,4,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,2췈 semestre,2016
1,GDDENR-8042508060,2016-05-18,1566,10,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,1 semestre,2016

In [30]:
# def sacar_mes(fecha):
#     return fecha.split("-")[1]

In [31]:
# hemos comprobado si hay valores nulos
# df_copia_historico.isnull().sum()

id_ticket          0
fecha              0
id_empleado        0
id_agente          0
categor칤a          0
tipo               0
severidad          0
prioridad          0
d칤as_resoluci칩n    0
satisfacci칩n       0
semestre           0
a침o                0
dtype: int64

In [42]:
df_copia_historico["mes"] = df_copia_historico["fecha"].apply(pd.to_datetime).dt.month_name()
df_copia_historico.head(1)

,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n,semestre,a침o,mes
0,GDDENR-5042564453,2016-07-13,1735,4,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,2췈 semestre,2016,July

2. En la tabla de empleados, tenemos los nombres y los apellidos de los empleados, pero en columnas separadas. En los ejercicios de pair de la lecci칩n del groupby vimos que si quisieramos agrupar por los nombres, esto se nos puede complicar. Ahora nos piden que creemos una columna donde tengamos el nombre y el apellido juntos.

游늷 NOTA La columna nueva debe tener el nombre y apellido con la primera letra en may칰sculas, por ejemplo "Jes칰s Villa".

游늷 NOTA Una vez hallamos creado la columna nueva, eliminad las columnas de nombre y apellido originales.

In [44]:
df_copia_puestos = df_puestos.copy()
df_copia_puestos.head()

,id_puesto,puesto,departamento,tipo_puesto,turno,id_empleado,apellido,nombre,email
0,10-23200,Ingeniero de Materiales,MATERIALES,Operativo,NaN,725,Villa,Eliana,eliana .villa@tractchun.com
1,10-23200,Ingeniero de Materiales,MATERIALES,Operativo,NaN,747,CHAVEZ,FEDERICO,federico.chavez@tractchun.com
2,10-23200,Ingeniero de Materiales,MATERIALES,Operativo,NaN,544,FIGUEROA,ANGEL,angel.figueroa@tractchun.com
3,10-24111,Operador de Producci칩n,MATERIALES,Operativo,NaN,1376,Piedrahita,Gonzalo,gonzalo.piedrahita@tractchun.com
4,10-24111,Operador de Producci칩n,MATERIALES,Operativo,NaN,44,Gonz치lez,Gonzalo,gonzalo.gonz치lez@tractchun.com

In [ ]:
df['suma'] = df['columna1'] + df['columna2']

In [45]:
def completo(nombre, apellido):
    df_copia_puestos["nombre_completo"] = (df_copia_puestos["nombre"] + df_copia_puestos["apellido"]) 
    return df_copia_puestos

In [47]:
df_copia_puestos.apply(lambda dataframe: completo(df_copia_puestos['nombre'], df_copia_puestos['apellido']), axis = 1)

0            id_puesto                    puesto      ...
1            id_puesto                    puesto      ...
2            id_puesto                    puesto      ...
3            id_puesto                    puesto      ...
4            id_puesto                    puesto      ...
                              ...
1995         id_puesto                    puesto      ...
1996         id_puesto                    puesto      ...
1997         id_puesto                    puesto      ...
1998         id_puesto                    puesto      ...
1999         id_puesto                    puesto      ...
Length: 2000, dtype: object

In [ ]:
df_copia_puestos['nombre_completo'].apply (lambda)

datos_personales["Nombre_completo"] = (df_copia_puestos["nombre"] + df_copia_puestos["apellido"]) 

datos_personales